@model GameOfLife.Controllers.GameViewController

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select a number of cells.</p>
    <form>
        <input type="number" />
        <button type="submit" value="Generate gameboard"></button>
    </form>
</div>