@model GameOfLife.Controllers.GameViewController

<h1>Result</h1>
@{if(Model.Coordinates.Length == 0)
    {
<h2>Game over!</h2>
    }
else{
<form action="NextGeneration" method="post">
    <div>
        @{ for (int i = 1; i <= Model.GridAxisSize; i++)
            {
                for (int j = 1; j <= Model.GridAxisSize; j++)
                { 
                    <input type="checkbox" value="@i, @j" name="coordinates" checked="@(Array.Find(Model.Coordinates, c => c.Equals(i + ", " + j)) == null ? false : true)">
                }
                <br />
            }
        }
    </div>
    <input type="number" value="@Model.GridAxisSize" name="number" style="display: none;" />
    <input type="submit" value="Calculate next generation" />
</form>
}}
<a href="Game/Index">New Game</a>

